@tailwind base;
@tailwind components;
@tailwind utilities;


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropitems {
    min-width: max-content;
    display: none;
    position: absolute;
    background-color: rgb(49 46 129);
    padding: 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropitems {
    display: block;
  }

